
h2{
  color:lightblue;
}
h3 {
  color:white;
}
p {
  margin-top: 40px;
  font-size: 20px;
  color:black;
  background-image: url("hammer.jpg");
  width:400px;
  height:200px;
  padding-top: 20px;

}

#hammer_curl {
  float:right;
  margin-right: 500px;
  border:solid brown 3px;
  padding:4px;
}
