#footer {
  color:green;
  padding-left: 1060px;
  padding-right:0px;
  padding-top: 410px;
}

ul {
  padding-top: 30px;
  display: inline;
}



body {
   background: #f4f1e5;
   color: #544738;
   font-family: helvetica, sans-serif;
}

li {
  color: #544738;
  text-decoration: none;
  font-size: 25px;
  padding: 10px;
}

li a:hover {
  color: #7eb9be;
}
