body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(photo2.jpeg);
}

#heading_of_page {
  margin-left: 50px;
  margin-top: 0px;
  font-size: 60px;
  border-color: aquamarine;
  font-style: oblique;
  font-family: fantasy;
  color:aquamarine;
}

#logo {
  clip-path: circle(40px at center);
  margin-left: 50px;
  margin-top:2  5px;
}

#epigraph {
  margin-left: 355px;
  font-style: italic;
  font-family:serif;
  color:lightblue;
}


.navbar {
  margin-top:20px;
  margin-left: 200px;
  padding-left: 90px;
  width: 60%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

#home_page {
    color:#FFFACD;
}
